<div class="detail-container">
  <img [src]="product?.url" />
  <div class="detail-item space-y-4">
    <p class="text-3xl">{{ product?.name }}</p>
    <p class="text-2xl">${{ product?.price }}</p>
    <p class="text-xl">{{ product?.description }}</p>
    <div>
      <select class="border select-input" [(ngModel)]="quantity">
        @for (i of lstQuantity; track i) {
          <option [value]="i">{{ i }}</option>
        }
      </select>
    </div>
    <div>
      <button
        class="bg-sky-500 text-white p-2 rounded-lg hover:bg-sky-700"
        (click)="addToCart(product)"
      >
        Add to cart
      </button>
    </div>
    <div>
      <a class="text-blue-600" [routerLink]="['/products']"
        >Back to product list</a
      >
    </div>
  </div>
</div>
